spring:
  profiles:
    include:
      - jwt

  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/board3
    username: root
    password: 1234

  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    # ??? ????? ?? ??? ???? ??? ??
    # ??? ???? ??? API ???????? false? ??
    open-in-view: true
    # JPA ?? ?? ???? SQL? ??? ??? ?????.
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        # ?? JPA? ???? Hibernate ? ????? ???? SQL? ????? ?????.
        # ???? SQL? ???? ?? ???.
        format_sql: true
        # ??? ??? ?? ? ?? ???
        default_batch_fetch_size: 500

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace
