spring:
  profiles:
    include:
      - jwt
      - oauth

  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/social
    username: root
    password: 1234

  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    open-in-view: true
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        default_batch_fetch_size: 500

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  thymeleaf:
    mode: HTML5
    suffix: .html
    prefix: classpath:templates/

logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace
