<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board3.mapper.MemberMapper">
    <insert id="join">
        insert into user(userEmail, userPw, userName, provider, providerId)
        values (#{userEmail}, #{userPw}, #{userName}, #{provider}, #{providerId})
    </insert>
    <!-- resultType : select 된 데이터를 반환할 그릇을 정해주는 것-->
    <select id="getUser" resultType="com.example.board3.domain.MemberDTO">
        select * from user where userId = #{userId}
    </select>
    <select id="getAllUser" resultType="com.example.board3.domain.MemberDTO">
        select * from user;
    </select>
    <select id="findByName" resultType="com.example.board3.domain.MemberDTO">
        select * from user where userName = #{userName}
    </select>
    <select id="login" resultType="com.example.board3.domain.MemberDTO">
        select * from user where userEmail = #{userEmail} and userPw = #{userPw}
    </select>
    <update id="update" parameterType="com.example.board3.domain.MemberDTO">
        update user set
                        userPw = #{userPw},
                        userName = #{userName}
        where userId = #{userId}
    </update>
    <delete id="delete" parameterType="Long">
        delete from user where userId=#{userId}
    </delete>
    <select id="emailCheck" parameterType="String" resultType="int">
        select count(userEmail) from user where userEmail = #{userEmail}
    </select>
</mapper>